.container {
  width: 255px;
  height: 255px;
  margin: 2rem auto;
  border: 2px solid black;
  display: grid;
}

.cell {
  width: 16px;
  height: 16px;
  /* border: 1px solid black; */
}

.food {
  background-color: red;
  border-radius: 50%;
}

.snake {
  background-color: green;
}
